.list-style {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 80px;
    padding-inline-start: 80px;
}


h1 {
    size: 1em;
}

.footer {
    justify-content: space-evenly;
    box-sizing: border-box;
}

.container {
    margin: 0 5em;
    padding: 0 5em;
}

h3 {
    font-size: 16px;
}

.footer-center{
    margin: auto;
    text-align: center;
}
