.portfolio {
    margin: 2rem 0 8rem 0;
    display: grid;
    justify-content: space-evenly;
    align-items: stretch;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(auto-fit, auto-fit);
    gap: 2.5rem;
}