.resumeContainer {
    display: block;
    padding-top: 5em;
}

.resume {
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.resume h3 {
    /* border: 1px solid black; */
    padding: 2%;
    font-size: 1.50rem;
}

.link {
    color: antiquewhite;
    text-decoration: none;
}

.link:hover {
    color: rgb(33, 12, 228);
}

.link:active {
    color: #000000;
}

.skill {
    display: block;
}

.download {
    display: flex;
    margin: 1em 0;
}

.react-pdf__Page__textContent {
    display: none;
}

.react-pdf__Page__canvas {
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.react-pdf__Page__annotations {
    display: none;
}