.contact-form {
    display: flex;
    padding-top: 5em;
    text-align: center;
    padding-bottom: 22em;
}

.contact-form {
    display: block;
    margin-bottom: 3%;
}

.contact-form form ul{
    list-style-type: none;
    width: 34rem;
}

.contactTitle {
    text-align: center;
    margin-top: 2%;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.formContainer ul li {
    margin: 3%;
    text-align: left;
}

.formContainer ul li label{
    font-weight: 500;
    width: 100%;
}

.submit {
    display: block;
    padding: 0;
}

input {
    width: 100%;
    margin-top: 2%;
}

textarea {
    width: 25vw;
    height: 5vh;
}


#contactMe {
    margin-bottom: 0%;
}

.tooltip {
  position: relative;
}

/* .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  Position the tooltip
  position: absolute;
  z-index: 1;
} */

.tooltip:hover .tooltiptext {
  visibility: visible;
}