@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=League+Gothic&family=Roboto:wght@300;400&display=swap');

* {
  justify-content: center;
  align-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
}